body{
    margin: 0;
    padding: 0;
}
#center{
    margin:95px auto;
    background-color:#efefef;
    height: 599px;
    width: 954px;
}
.left{
    width: 198px;
    height: 102px;
    padding: 27px;
    margin: 28px;
    background-color: #ffffff;
    float: left;
}
.right{
    width: 156px;
    height: 516px;
    margin: 28px;
    float: right;
    padding-bottom: 13.5px;
    padding-top: 13.5px;
    background-color: #ffffff;
}
.middle{
    padding: 1px 28px;
    position: relative;
    top: 28px;
    width: auto;
    height: 331px;
    margin-left: 304px;
    margin-right: 230px;
    background-color: #ffffff;
}
.damon{
    width: 102px;
    height: 102px;
    padding: 13.5px 27px;
}
